:root {
  /* Primary */
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-blue);
}

main {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.mobile-pic {
  display: none;
}
.main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: color-mix(
    in srgb,
    var(--dark-desaturated-blue) 90%,
    var(--soft-violet) 10%
  );
  padding: 3.75rem 3.75rem 3.75rem 3.75rem;
  margin-top: 12.5rem;
  width: 28.125rem;
}

.main-head {
  color: var(--slightly-transparent-white-main-paragraph);
  font-family: "Inter";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-right: 1.25rem;
}

b {
  color: var(--soft-violet);
  font-weight: 700;
}

.paragraph {
  font-family: "Inter";
  color: var(--slightly-transparent-white-stat-headings);
  font-size: 0.9375rem;
  margin-top: -2rem;
  line-height: 1.375rem;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 18.75rem;
}

.first,
.second,
.third {
  display: flex;
  flex-direction: column;
}

#stats {
  font-family: "Lexend Deca";
  font-weight: 300;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: var(--slightly-transparent-white-stat-headings);
}

#heading-stat {
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--slightly-transparent-white-main-paragraph);
}

.image-view {
  background: var(--soft-violet);
  width: 28.125rem;
  margin-top: 12.5rem;
  overflow: hidden;
}

.image-view img {
  background-color: var(--soft-violet);
  width: 28.125rem;
  opacity: 0.3;
}

.attribution {
  color: var(--slightly-transparent-white-main-paragraph);
  position: absolute;
  font-size: 0.6875rem;
  text-align: center;
  bottom: 3.125rem;
  left: 50%;
  transform: translate(-50%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
  main {
    flex-direction: column;
    width: 375px;
    padding: 1.875rem;
    left: 50%;
    transform: translate(-50%);
  }

  .mobile-pic {
    display: block;
    background: var(--soft-violet);
    width: 100%;
    height: 231px;
    margin-top: 6.25rem;
    border-radius: 0.3125rem;
  }

  .mobile-pic img {
    display: inline-block;
    background-color: var(--soft-violet);
    opacity: 0.3;
    object-fit: fill;
    width: inherit;
  }

  .main-text {
    margin: 0;
    width: fit-content;
    padding: 0;
    border-radius: 0.3125rem;
  }

  .main-head {
    text-align: center;
    padding: 2.5rem;
  }

  .paragraph {
    text-align: center;
    padding: 0.625rem 1.875rem;
  }

  #heading-stat {
    text-align: center;
  }

  #stats {
    padding: 0.4375rem 0;
  }

  .first,
  .second,
  .third {
    margin: 0.625rem 0;
  }
  .image-view img {
    display: none;
  }

  .attribution {
    display: none;
  }

  .details {
    flex-direction: column;
    align-items: center;
    margin: 1.875rem 0;
  }
}
