:root {
  /* Primary */
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-blue);
}

main {
  display: flex;
  position: absolute;
  transform: translate(50%);
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: color-mix(
    in srgb,
    var(--dark-desaturated-blue) 90%,
    var(--soft-violet) 10%
  );
  padding: 60px 60px 60px 60px;
  margin-top: 200px;
  width: 450px;
}

.main-head {
  color: var(--slightly-transparent-white-main-paragraph);
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding-right: 20px;
}

b {
  color: var(--soft-violet);
  font-weight: 700;
}

.paragraph {
  font-family: "Inter";
  color: var(--slightly-transparent-white-stat-headings);
  font-size: 15px;
  margin-top: -32px;
  line-height: 22px;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.first,
.second,
.third {
  display: flex;
  flex-direction: column;
}

#stats {
  font-family: "Lexend Deca";
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--slightly-transparent-white-stat-headings);
}

#heading-stat {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 700;
  color: var(--slightly-transparent-white-main-paragraph);
}

.image-view {
  background: var(--soft-violet);
  width: 450px;
  margin-top: 200px;
  overflow: hidden;
}

.image-view img {
  background-color: var(--soft-violet);
  width: 450px;
  opacity: 0.3;
}

.attribution {
  color: var(--slightly-transparent-white-main-paragraph);
  position: absolute;
  font-size: 11px;
  text-align: center;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
  main {
    flex-direction: column;
    transform: translate(0%);
    width: 375px;
  }

  .main-text {
    margin-top: 100px;
    width: fit-content;
    padding: 0;
  }

  .details {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
